<!-- Dynamic Image Tag Generation -->
{% if article.image %}
  <!-- Debugging information -->
  {{ article.image | inspect }}

  <!-- Display image if available -->
  <img class="post-feature-img" src="{{ article.image | image_url: 'large' }}" alt="{{ article.image.alt }}">
{% else %}
  <!-- Display error message if image is not available -->
  <p>Error: Image not available</p>
{% endif %}

{{ article.image | inspect }}

<div class="container">
  <div class="jumbotron">
    <h1>{{ article.title }}</h1>
  </div>
  <p class="lead"> {{ article.content }} </p>
  <p>{{ article.author }}</p>
</div>