<img class="post-feature-img" src="{{ article.image | image_url: 'large' }}" alt="{{ article.image.alt }}">


<div class="container">
  <div class="jumbotron">
    <h1>{{ article.title }}</h1>
  </div>
  <p lass="lead">{{ article.content }}</p>
  <p>{{ article.author }}</p>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
